<h1 style="text-align:center;">edit profile </h1>
<div class="container">
<div class="row">
    <div class="col-6">

<form action="employee/save_edit" method="post">
     <div class="md-3">
    <label for="name">name:</label>
    <input type="text" id="name" name="new_name" required><br><br>
</div>
<div class="md-3">
    <label for="mobile">mobile</label>
    <input type="text" id="mobile" name="new_mobile" required><br><br>
    </div>

    <div class="md-3">
        <label for="address">address</label>
        <input type="text" id="address" name="new_address"><br><br>
    </div>

</form>
</div>
</div>
</div>

